@page "/Login"
@using SymmetricalWaifu.Shared
@using System.Text
@using Blazored.LocalStorage
@using System.Net
@inject ILocalStorageService LocalStorage
@inject HttpClient HttpClient

<p>Username</p>
<input @bind="_uname"/>
<p>Password</p>
<input @bind="_pwd" type="password"/>
<button @onclick="SendToServer">Login</button>

@if (_showWrongPassword)
{
    <p>Wrong password.</p>
}

@code {

    private String? _uname, _pwd;
    private Boolean _showWrongPassword;

    private async void SendToServer()
    {
        var loginRequest = new LoginRequest
        {
            Username = _uname!,
            Password = Encoding.UTF32.GetBytes(_pwd!)
        };
        HttpResponseMessage response = null!;
        for (var i = 0; i < 5; ++i)
        {
            response = await HttpClient.PostAsJsonAsync("AccountApi/Login", loginRequest);
            if (response.StatusCode is not HttpStatusCode.InternalServerError) break;
        }
        if (response.StatusCode is HttpStatusCode.Unauthorized)
        {
            _showWrongPassword = false;
            await Task.Delay(250);
            _showWrongPassword = true;
            await Task.Delay(250);
            _showWrongPassword = false;
            await Task.Delay(250);
            _showWrongPassword = true;
            return;
        }
        String token = (await response.Content.ReadAsStringAsync()).ToLowerInvariant();
        await LocalStorage.SetItemAsStringAsync("token", token);
    }

}