@page "/Login"
@using SymmetricalWaifu.Shared
@using System.Text
@using Blazored.LocalStorage
@using System.Net
@inject ILocalStorageService LocalStorage
@inject HttpClient HttpClient

<p>Username</p>
<input @bind="_uname"/>
<p>Password</p>
<input @bind="_pwd" type="password"/>
<button @onclick="SendToServer">Login</button>

@if (_showWrongPassword)
{
    <p>Incorrect username and/or password.</p>
}

@code {

    private string? _uname, _pwd;
    private bool _showWrongPassword;

    private async void SendToServer()
    {
        var loginRequest = new LoginRequest
        {
            Username = _uname!,
            Password = Encoding.UTF32.GetBytes(_pwd!)
        };
        
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("AccountApi/Login", loginRequest);
        if (response.StatusCode == HttpStatusCode.Unauthorized)
        {
            _showWrongPassword = true;
            return;
        }
        string token = (await response.Content.ReadAsStringAsync()).ToLowerInvariant();
        await LocalStorage.SetItemAsStringAsync("token", token);
    }

}