@page "/Login"
@using SymmetricalWaifu.Shared
@using System.Text
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@inject HttpClient HttpClient

<p>Username</p>
<input @bind="_uname"/>
<p>Password</p>
<input @bind="_pwd" type="password"/>
<button @onclick="SendToServer">Login</button>

@code {

    private String? _uname, _pwd;

    private async void SendToServer()
    {
        var loginRequest = new LoginRequest
        {
            Username = _uname!,
            Password = Encoding.UTF32.GetBytes(_pwd!)
        };
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("AccountApi/Login", loginRequest);
        var token = await response.Content.ReadFromJsonAsync<String>();
        await LocalStorage.SetItemAsync("token", token);
    }

}